.git
.github
.turbo
.vscode
.idea
.DS_Store
node_modules
**/node_modules
**/.next
**/dist
**/build
**/coverage
**/.cache
**/.temp
**/tmp
**/*.log
.tmp-run-dev.log
.tmp-run-dev.err.log
infra/docker/.env.dev
infra/docker/.env.prod
pnpm-debug.log
npm-debug.log
yarn-error.log
